<h1>Listing tests</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Port</th>
    <th>Interval</th>
    <th>Duration</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tests.each do |test| %>
  <tr>
    <td><%= test.host %></td>
    <td><%= test.port %></td>
    <td><%= test.interval %></td>
    <td><%= test.duration %></td>
    <td><%= test.status %></td>
    <td><%= link_to 'Show', test %></td>
    <td><%= link_to 'Edit', edit_load_test_path(test) %></td>
    <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test', new_load_test_path %>
